NODE_ENV=production
APP_PORT=3001
DB_HOST=localhost
DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=senhaç@123
DB_SCHEMA=lumis
DB_CONNECTION_LIMIT=10
DB_SYNCHRONIZE=true
DB_SSL=false
JWT_SECRET=segredojwst
JWT_REFRESH_SECRET=segredojwtrefresh
JWT_EXPIRES=30m
JWT_REFRESH_EXPIRES=45m