NODE_ENV=production
APP_PORT=8080
DB_HOST=localhost
DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=senhaç@123
DB_SCHEMA=takehome
DB_CONNECTION_LIMIT=10
DB_SYNCHRONIZE=false
DB_SSL=false
JWT_SECRET=segredojwst
JWT_REFRESH_SECRET=segredojwtrefresh
JWT_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
REDIS_URL=redis://localhost:6379
CORS_ORIGIN=http://localhost:3000



